.place-order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.place-order-box {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #333;
  font-weight: 700;
  max-width: 27rem;
}

input {
  width: calc(100% - 2.1rem);
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.buy-button,
.sell-button {
  padding: 12px 3rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.buy-button {
  background-color: #007bff;
  color: white;
}
.sell-button {
  background-color: #28a745;
  color: white;
}
.buy-button:hover,
.sell-button:hover {
  opacity: 0.8;
}

.cancel-button-placeOrder {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.cancel-button-placeOrder:hover {
  background-color: #c82333;
}

.table-container-placeOrder {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.cell {
  font-weight: 600;
}